<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>getData</servlet-name>
    <servlet-class>cn.edu.buaa.jsi.servlet.getData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeHistoryData</servlet-name>
    <servlet-class>cn.edu.buaa.jsi.servlet.ChangeHistoryData</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>getData</servlet-name>
    <url-pattern>/getData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeHistoryData</servlet-name>
    <url-pattern>/ChangeHistoryData</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
